@font-face {
  font-family: 'Proba Pro Regular';
  src: url('../fonts/proba_pro.eot');
  src: url('../fonts/proba_pro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proba_pro.woff') format('woff'),
       url('../fonts/proba_pro.ttf') format('truetype'),
       url('../fonts/proba_pro.svg#Proba Pro Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}